.button {
  border: none;
  font-size: 13px;
  margin: 0 6px;
  border-radius: 6px;
  color: var(--text-second-color);
  background-color: var(--background-alt);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 6px;
  transition: var(--common-transition);
}

.button:hover {
  background-color: var(--background-element);
}

.disableButton {
  cursor: default;
  background-color: var(--colors-button-inactive);
  opacity: 0.8;
  pointer-events: none;
}
